<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Submission</title>
</head>
<body>
<h1>Submit your details</h1>
<form action="/submit" method="post">
    <label for="id">ID : </label>
    <input type="text" id="id" name="id" required> <br>
    <label for="description" >Description : </label>
    <input type="text" id="description" name="description" required> <br>
    <label for="priority">Priorty : </label>
    <input type="text" id="priority" name="priority" required> <br>
    <label for="completed">Completed : </label>
    <input type="checkbox" id="completed" name="completed" required> <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>